.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
};

.dashboard-info {
    width: 100%;
    height: 47px;
}

.dashboard-input {
    width: 100%;
    height: 118px; 
}

.tweet {
    width: 100%;
    height: 300px;
}