.navigation {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    .buttons-container {
        position:fixed;
        width: 240px;
        height: 100%;
        @media(max-width:1330px) { //1260
            width: 60px;
        }
        @media(max-width:890px) { //1260
            position:relative;
        }
        .tweet-logo{
            margin-bottom: 10px;
            margin-left: 20px;
        }
    }
    .container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        p{
            padding-top: 5px;
            margin: 0 0 0 20px;
            font-weight: bold;
            font-size: 18px;
            @media(max-width:1330px) {
                display: none;
            }
        }
        .headshot1{
            border-radius: 50px;
        }
    }
    .container:hover{
        color:rgb(62, 160, 252);
        cursor: pointer;
    }
    img {
        margin: 5px 0 0 30px;
    }
    .button-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media(max-width:1260px) {
            justify-content: flex-start;
        }
        button {
            margin-top: 6.5px;
            margin-right: 5px;
            width: 215px;
            height: 50px;
            border-radius: 35px;
            border: none;
            background-color: rgb(54, 171, 243);
            color: white;
            font-weight: bold;
            @media(max-width:1330px) {
                height: 40px;
                width: 40px;
                font-size: 10px;
                margin: 0 0 0 25px;
            }
        }
        button:hover{
            cursor: pointer;
        }
    }
}

// .extra-div-left{
//     position:fixed;
//     @media (max-width: 890px){
//         width:60px;
//     }
// }