* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 4fr 5fr 5.3fr;
  @media(max-width:1330px) {
      grid-template-columns: 2fr 5fr 5.3fr;
    }
}